# Any directories, files, or patterns
!*.meta
*.log
*.pyc
*.unitypackage
*.unitypackage.meta
*.gif
*.xlsx
*.docx
*.doc
*.xls

# Unity generated
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Ll]ibrary/
[Ll]ogs/
sysinfo.txt
*.stackdump

# IDE generated
[Ee]xported[Oo]bj/
.vs/
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.idea*/

# OS generated
.DS_Store*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
[Dd]esktop.ini

# Others
[Ii]gnore/
[Ii]gnore.meta
[Pp]roto/
*.ffs_gui


!*.obj
BuildGame/
SubmitData/

# Save datas
*save1.bin*
*save2.bin*
